img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.row,
.item-img,
.img-wrap,
.image-wrapper,
.item-wrapper {
  border-radius: 0 !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Schibsted Grotesk;
}
.display-1 {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 6rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 7.5rem;
}
.display-2 {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 3rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.8rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.2rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 2.5rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ca9236 !important;
}
.bg-success {
  background-color: #3a341c !important;
}
.bg-info {
  background-color: #320707 !important;
}
.bg-warning {
  background-color: #a0e2e1 !important;
}
.bg-danger {
  background-color: #ffea64 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ca9236 !important;
  border-color: #ca9236 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #ca9236 !important;
  border-color: #ca9236 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #d5a85e !important;
  border-color: #d5a85e !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
  color: #000000 !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ca9236 !important;
  border-color: #ca9236 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #000000 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info,
.btn-info:active {
  background-color: #320707 !important;
  border-color: #320707 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #ca9236 !important;
  border-color: #ca9236 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
}
.btn-success,
.btn-success:active {
  background-color: #3a341c !important;
  border-color: #3a341c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #ca9236 !important;
  border-color: #ca9236 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
  color: #000000 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #ca9236 !important;
  border-color: #ca9236 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #000000 !important;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
  color: #000000 !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ca9236 !important;
  border-color: #ca9236 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #000000 !important;
  background-color: #fff197 !important;
  border-color: #fff197 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #000000 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #ffffff !important;
  background-color: #ca9236 !important;
  border-color: #ca9236 !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #000000 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #ca9236 !important;
  border-color: #ca9236 !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ca9236;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff !important;
  background-color: #ca9236 !important;
  border-color: #ca9236 !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ca9236 !important;
  border-color: #ca9236 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffd7ef;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff !important;
  background-color: #ca9236 !important;
  border-color: #ca9236 !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #d70081 !important;
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #320707;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff !important;
  background-color: #ca9236 !important;
  border-color: #ca9236 !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #320707 !important;
  border-color: #320707 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #3a341c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff !important;
  background-color: #ca9236 !important;
  border-color: #ca9236 !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #3a341c !important;
  border-color: #3a341c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #a0e2e1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff !important;
  background-color: #ca9236 !important;
  border-color: #ca9236 !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #1f6463 !important;
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffea64;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff !important;
  background-color: #ca9236 !important;
  border-color: #ca9236 !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #645600 !important;
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff !important;
  background-color: #ca9236 !important;
  border-color: #ca9236 !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #ffffff !important;
  background-color: #ca9236 !important;
  border-color: #ca9236 !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ca9236 !important;
}
.text-secondary {
  color: #ffd7ef !important;
}
.text-success {
  color: #3a341c !important;
}
.text-info {
  color: #320707 !important;
}
.text-warning {
  color: #a0e2e1 !important;
}
.text-danger {
  color: #ffea64 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #7a5820 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff71c6 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #52cac8 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #fddb00 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ca9236;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #320707;
}
.alert-warning {
  background-color: #a0e2e1;
}
.alert-danger {
  background-color: #ffea64;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ca9236;
  border-color: #ca9236;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ca9236;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f5ead7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c0b27c;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f3abab;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ca9236 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #ca9236;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ca9236;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ca9236;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ca9236;
  border-bottom-color: #ca9236;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ca9236 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffd7ef !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ca9236' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tNbSmi8ZZf {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-tNbSmi8ZZf .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-tNbSmi8ZZf .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-tNbSmi8ZZf .navbar-logo {
  align-items: center;
  padding-left: 2rem;
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-tNbSmi8ZZf .navbar-logo {
    padding-left: 1rem;
  }
}
.cid-tNbSmi8ZZf .wrapper {
  width: 100%;
  display: flex;
  max-width: 1620px;
  margin: auto;
}
.cid-tNbSmi8ZZf .rr-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tNbSmi8ZZf .rr-brand img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0px !important;
}
.cid-tNbSmi8ZZf .rr-brand .navbar-caption {
  line-height: 1.2 !important;
}
.cid-tNbSmi8ZZf .rr-brand .navbar-logo a {
  outline: none;
}
.cid-tNbSmi8ZZf .navbar-caption-wrap {
  align-items: center;
}
.cid-tNbSmi8ZZf .navbar-caption {
  line-height: 1.2 !important;
  padding-left: 1rem;
  padding-right: .5rem;
}
.cid-tNbSmi8ZZf .navbar-nav {
  margin: auto;
  margin-left: 0;
}
.cid-tNbSmi8ZZf .navbar-nav .nav-item {
  padding: 0 !important;
  transition: .3s all !important;
  top: -2px;
}
.cid-tNbSmi8ZZf .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: .3s all !important;
}
.cid-tNbSmi8ZZf .navbar-nav .nav-item .nav-link:hover {
  color: #ca9236 !important;
}
.cid-tNbSmi8ZZf .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-tNbSmi8ZZf .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-tNbSmi8ZZf .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: .3s all !important;
}
.cid-tNbSmi8ZZf .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-tNbSmi8ZZf .navbar-nav {
    padding-left: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tNbSmi8ZZf .navbar-nav {
    align-items: center;
  }
}
.cid-tNbSmi8ZZf .nav-link {
  width: fit-content;
  position: relative;
}
@media (max-width: 767px) {
  .cid-tNbSmi8ZZf .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-tNbSmi8ZZf .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: .3s all;
}
.cid-tNbSmi8ZZf .container-fluid {
  display: flex;
  height: fit-content;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-tNbSmi8ZZf .container-fluid {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tNbSmi8ZZf .container-fluid {
    height: 72px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-tNbSmi8ZZf .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tNbSmi8ZZf .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 0px !important;
  border-radius: 1rem;
  transition: .3s all !important;
  min-width: auto;
  background: #ffffff;
}
.cid-tNbSmi8ZZf .nav-item:focus,
.cid-tNbSmi8ZZf .nav-link:focus {
  outline: none;
}
.cid-tNbSmi8ZZf .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tNbSmi8ZZf .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tNbSmi8ZZf .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tNbSmi8ZZf .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tNbSmi8ZZf .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tNbSmi8ZZf .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tNbSmi8ZZf .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  top: -2px;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-tNbSmi8ZZf .navbar.opened {
  transition: all 0.3s;
}
.cid-tNbSmi8ZZf .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tNbSmi8ZZf .navbar .navbar-logo img {
  width: auto;
}
.cid-tNbSmi8ZZf .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-tNbSmi8ZZf .navbar.collapsed {
  justify-content: center;
}
.cid-tNbSmi8ZZf .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tNbSmi8ZZf .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tNbSmi8ZZf .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.7rem);
  }
}
.cid-tNbSmi8ZZf .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tNbSmi8ZZf .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tNbSmi8ZZf .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tNbSmi8ZZf .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tNbSmi8ZZf .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tNbSmi8ZZf .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-tNbSmi8ZZf .navbar {
    min-height: 72px;
  }
  .cid-tNbSmi8ZZf .navbar .navbar-logo img {
    height: 2rem !important;
  }
}
@media (max-width: 991px) {
  .cid-tNbSmi8ZZf .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tNbSmi8ZZf .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tNbSmi8ZZf .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tNbSmi8ZZf .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tNbSmi8ZZf .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tNbSmi8ZZf .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tNbSmi8ZZf .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-tNbSmi8ZZf .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tNbSmi8ZZf .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tNbSmi8ZZf .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-tNbSmi8ZZf .dropdown-item.active,
.cid-tNbSmi8ZZf .dropdown-item:active {
  background-color: transparent;
}
.cid-tNbSmi8ZZf .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tNbSmi8ZZf .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tNbSmi8ZZf .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tNbSmi8ZZf .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
  margin-right: 10px;
}
.cid-tNbSmi8ZZf .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
  transform: none;
  top: -12px;
}
.cid-tNbSmi8ZZf .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-tNbSmi8ZZf ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tNbSmi8ZZf .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-tNbSmi8ZZf .navbar-buttons {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .cid-tNbSmi8ZZf .navbar-buttons {
    text-align: center;
  }
}
.cid-tNbSmi8ZZf button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tNbSmi8ZZf button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #4e423d;
}
.cid-tNbSmi8ZZf button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tNbSmi8ZZf button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tNbSmi8ZZf button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tNbSmi8ZZf button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tNbSmi8ZZf nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tNbSmi8ZZf nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tNbSmi8ZZf nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tNbSmi8ZZf nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tNbSmi8ZZf .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tNbSmi8ZZf a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tNbSmi8ZZf .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-tNbSmi8ZZf .icons-menu {
    justify-content: flex-start;
    margin-bottom: .5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tNbSmi8ZZf .navbar {
    height: 70px;
  }
  .cid-tNbSmi8ZZf .navbar.opened {
    height: auto;
  }
  .cid-tNbSmi8ZZf .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tNbSmi8ZZf .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-tNbSmi8ZZf .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-tNbSmi8ZZf .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-tNbSmi8ZZf .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: .3s all;
  transform: rotate(-90deg);
}
.cid-tNbSmi8ZZf .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-tNbSmi8ZZf .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-tNbSmi8ZZf .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-tNbSmi8ZZf .navbar-brand {
    margin-right: auto;
  }
  .cid-tNbSmi8ZZf .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    backdrop-filter: blur(8px);
  }
  .cid-tNbSmi8ZZf .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-tNbSmi8ZZf .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-tNbSmi8ZZf .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-tNbSmi8ZZf .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-tNbSmi8ZZf .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-tNbSmi8ZZf .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: .3s all;
    transform: rotate(0deg);
  }
  .cid-tNbSmi8ZZf .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-tNbSmi8ZZf .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-tNbSmi8ZZf .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-tNbSmi8ZZf .navbar-collapse {
    padding: 1rem;
  }
}
.cid-tNbsrmU5Ji {
  display: flex;
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-tNbsrmU5Ji .mbr-overlay {
  background-color: #000000;
  opacity: 0.4;
}
.cid-tNbsrmU5Ji .content-wrap {
  padding: 5rem 1rem;
  max-width: 800px;
}
@media (min-width: 768px) {
  .cid-tNbsrmU5Ji {
    align-items: center;
  }
  .cid-tNbsrmU5Ji .row {
    justify-content: flex-start;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-tNbsrmU5Ji .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-tNbsrmU5Ji {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-tNbsrmU5Ji .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-tNbsrmU5Ji .content-wrap {
    width: 100%;
  }
}
.cid-tNbsrmU5Ji .mbr-section-title {
  text-align: left;
}
.cid-tNbsrmU5Ji .mbr-text,
.cid-tNbsrmU5Ji .mbr-section-btn {
  text-align: left;
}
.cid-tNbtn3gfot {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tNbtn3gfot .mbr-fallback-image.disabled {
  display: none;
}
.cid-tNbtn3gfot .item-wrapper {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
@media (max-width: 767px) {
  .cid-tNbtn3gfot .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tNbtn3gfot .item-wrapper:hover .iconfont-wrapper:after {
  width: 70px;
  height: 70px;
}
.cid-tNbtn3gfot .card-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-tNbtn3gfot h5 {
  margin: 0;
}
.cid-tNbtn3gfot .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tNbtn3gfot .iconfont-wrapper {
  position: relative;
}
.cid-tNbtn3gfot .iconfont-wrapper:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ca9236;
  transition: all 0.3s;
  opacity: 0.3;
}
.cid-tNbtn3gfot .mbr-iconfont {
  display: flex;
  font-size: 3rem;
  color: #4e423d;
  width: 100px;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-radius: 50%;
  z-index: 2;
  position: relative;
}
.cid-tNbtn3gfot .card-title,
.cid-tNbtn3gfot .iconfont-wrapper {
  color: #000000;
}
.cid-tNbtn3gfot .card-text {
  color: #000000;
}
.cid-tNbtn3gfot .mbr-section-title {
  color: #000000;
}
.cid-tNbtnw7JGs {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tNbtnw7JGs .item-img {
  position: relative;
  overflow: hidden;
}
.cid-tNbtnw7JGs .item-img:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.3;
  z-index: 1;
  transition: all 0.3s;
  pointer-events: none;
}
.cid-tNbtnw7JGs .item-img:hover img {
  transform: scale(1.15);
}
.cid-tNbtnw7JGs .item-img:hover:before {
  opacity: 0.5;
}
.cid-tNbtnw7JGs h5 {
  margin-bottom: 1rem;
}
.cid-tNbtnw7JGs .item-content {
  position: absolute;
  top: 55%;
  right: 0;
  z-index: 2;
  width: 100%;
  transform: translateY(-50%);
  margin-top: 2rem;
  padding: 0 2.25rem 2.25rem;
  display: flex;
  flex-direction: column;
  height: 50%;
}
@media (max-width: 767px) {
  .cid-tNbtnw7JGs .item-content {
    padding: 0 2rem 1.5rem;
    margin-top: 1rem;
  }
}
.cid-tNbtnw7JGs img,
.cid-tNbtnw7JGs .item-img {
  width: 100%;
  transition: all 0.3s;
  height: 100%;
  height: 600px;
  object-fit: cover;
}
.cid-tNbtnw7JGs .item:focus,
.cid-tNbtnw7JGs span:focus {
  outline: none;
}
.cid-tNbtnw7JGs .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tNbtnw7JGs .item {
    margin-bottom: 1rem;
  }
}
.cid-tNbtnw7JGs .item-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tNbtnw7JGs .mbr-section-title {
  color: #4e423d;
}
.cid-tNbtnw7JGs .item-title {
  text-align: center;
  color: #ffffff;
}
.cid-tNbtnw7JGs .item-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tNbtnw7JGs .mbr-text,
.cid-tNbtnw7JGs .item .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tNbtnw7JGs .content-head {
  max-width: 800px;
}
.cid-tNbtv2MiSg {
  display: flex;
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .cid-tNbtv2MiSg {
    align-items: center;
  }
  .cid-tNbtv2MiSg .row {
    justify-content: center;
  }
}
.cid-tNbtv2MiSg p {
  line-height: 1.5;
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-tNbtv2MiSg .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-tNbtv2MiSg {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-tNbtv2MiSg .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-tNbtv2MiSg .content-wrap {
    width: 100%;
  }
}
.cid-tNbtv2MiSg .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-tNbtv2MiSg .mbr-text,
.cid-tNbtv2MiSg .mbr-section-btn {
  text-align: center;
  color: #232323;
}
.cid-tNbtv2MiSg .mbr-section-subtitle {
  color: #a1a1a1;
  text-align: center;
}
.cid-tNbtmHRYqk {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tNbtmHRYqk img,
.cid-tNbtmHRYqk .item-img {
  width: 100%;
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
  height: 100%;
  min-height: 300px;
  height: 300px;
  object-fit: cover;
}
.cid-tNbtmHRYqk .item:focus,
.cid-tNbtmHRYqk span:focus {
  outline: none;
}
.cid-tNbtmHRYqk .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tNbtmHRYqk .item {
    margin-bottom: 1rem;
  }
}
.cid-tNbtmHRYqk h5 {
  margin: 0;
}
.cid-tNbtmHRYqk .item-content {
  margin-top: 1rem;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cid-tNbtmHRYqk .item-wrapper {
  position: relative;
  background: #ffffff;
  height: 100%;
  display: flex;
  padding: 1rem;
  flex-flow: column nowrap;
  border: 1px solid lightgray;
  transition: all 0.3s;
}
.cid-tNbtmHRYqk .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-tNbtmHRYqk .item-wrapper:hover {
  border-color: #ca9236;
}
.cid-tNbtmHRYqk .item-wrapper:hover img {
  transform: scale(1.05);
}
@media (max-width: 992px) {
  .cid-tNbtmHRYqk .item-wrapper {
    height: auto;
  }
}
.cid-tNbtmHRYqk .mbr-section-title {
  color: #4e423d;
  text-align: left;
}
.cid-tNbtmHRYqk .item-title {
  text-align: center;
}
.cid-tNbtmHRYqk .item-subtitle {
  text-align: center;
}
.cid-tNbtmHRYqk .mbr-text,
.cid-tNbtmHRYqk .item .mbr-section-btn {
  text-align: center;
}
.cid-tNbtmHRYqk .content-head {
  max-width: 800px;
}
.cid-tNbtmHRYqk .mbr-section-subtitle,
.cid-tNbtmHRYqk .mbr-section-head .mbr-section-btn {
  text-align: left;
}
.cid-tNbSpTIDXK {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #0a413a;
}
.cid-tNbSpTIDXK img,
.cid-tNbSpTIDXK .item-img {
  width: 100%;
  overflow: hidden;
  transition: transform 3s;
  cursor: pointer;
  object-fit: cover;
  background-color: white;
  min-height: 400px;
  height: 400px;
}
.cid-tNbSpTIDXK .image-wrapper {
  transition: all 0.3s;
  overflow: hidden;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.cid-tNbSpTIDXK .item:focus,
.cid-tNbSpTIDXK span:focus {
  outline: none;
}
.cid-tNbSpTIDXK .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tNbSpTIDXK .item {
    margin-bottom: 1rem;
  }
}
.cid-tNbSpTIDXK .item-content {
  margin-top: 1rem;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cid-tNbSpTIDXK .item-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  transition: all 0.3s;
}
.cid-tNbSpTIDXK .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-tNbSpTIDXK .item-wrapper:hover .image-wrapper {
  margin: 10px;
}
.cid-tNbSpTIDXK .item-wrapper:hover img {
  transform: scale(1.1);
}
@media (max-width: 992px) {
  .cid-tNbSpTIDXK .item-wrapper {
    height: auto;
  }
}
.cid-tNbSpTIDXK .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-tNbSpTIDXK .item-title {
  text-align: left;
  color: #ffffff;
}
.cid-tNbSpTIDXK .item-subtitle {
  text-align: left;
  color: #ffffff;
}
.cid-tNbSpTIDXK .mbr-text,
.cid-tNbSpTIDXK .item .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-tNbSpTIDXK .mbr-section-subtitle,
.cid-tNbSpTIDXK .mbr-section-head .mbr-section-btn {
  text-align: left;
}
.cid-tNbtUAlViZ {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tNbtUAlViZ .item-img,
.cid-tNbtUAlViZ .img-wrap,
.cid-tNbtUAlViZ img {
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
}
.cid-tNbtUAlViZ img,
.cid-tNbtUAlViZ .item-img {
  width: 230px;
  overflow: hidden;
  transition: transform 3s;
  cursor: pointer;
  object-fit: cover;
  min-height: 230px;
  height: 230px;
}
@media (max-width: 1600px) {
  .cid-tNbtUAlViZ img,
  .cid-tNbtUAlViZ .item-img {
    width: 180px;
    min-height: 180px;
    height: 180px;
  }
}
.cid-tNbtUAlViZ .item-img {
  border: 1px solid transparent;
  transition: all 0.3s;
}
.cid-tNbtUAlViZ .item:focus,
.cid-tNbtUAlViZ span:focus {
  outline: none;
}
.cid-tNbtUAlViZ .img-wrap {
  transition: all 0.3s;
  overflow: hidden;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.cid-tNbtUAlViZ .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tNbtUAlViZ .item {
    margin-bottom: 1rem;
  }
}
.cid-tNbtUAlViZ h5 {
  margin: 0;
}
.cid-tNbtUAlViZ .item-content {
  margin-top: 1rem;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cid-tNbtUAlViZ .item-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  transition: all 0.3s;
}
.cid-tNbtUAlViZ .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-tNbtUAlViZ .item-wrapper:hover .item-img {
  border: 1px solid lightgray;
}
.cid-tNbtUAlViZ .item-wrapper:hover .img-wrap {
  margin: 10px;
}
@media (max-width: 992px) {
  .cid-tNbtUAlViZ .item-wrapper {
    height: auto;
  }
}
.cid-tNbtUAlViZ .mbr-section-title {
  color: #4e423d;
  text-align: left;
}
.cid-tNbtUAlViZ .item-title {
  text-align: center;
}
.cid-tNbtUAlViZ .item-subtitle {
  text-align: center;
  color: #232323;
}
.cid-tNbtUAlViZ .mbr-text,
.cid-tNbtUAlViZ .item .mbr-section-btn {
  text-align: center;
}
.cid-tNbtUAlViZ .mbr-section-subtitle,
.cid-tNbtUAlViZ .mbr-section-head .mbr-section-btn {
  text-align: left;
}
.cid-tNbtV83XeT {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #e5f1f2;
}
.cid-tNbtV83XeT .mbr-fallback-image.disabled {
  display: none;
}
.cid-tNbtV83XeT .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tNbtV83XeT img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50% !important;
  margin: auto;
  margin-bottom: 1.5rem;
}
.cid-tNbtV83XeT .mbr-iconfont {
  margin: auto;
  display: inline-flex;
  font-size: 1.5rem;
  color: #ca9236;
  width: 30px;
  justify-content: center;
  align-items: center;
}
.cid-tNbtV83XeT .card-title,
.cid-tNbtV83XeT .iconfont-wrapper {
  color: #232323;
}
.cid-tNbtV83XeT .card-text {
  color: #232323;
}
.cid-tNbtV83XeT .mbr-section-title {
  color: #4e423d;
}
.cid-tNbtV83XeT .mbr-section-subtitle {
  color: #232323;
}
.cid-tNbtV83XeT .content-head {
  max-width: 800px;
}
.cid-tNbtV83XeT .card-subtitle {
  color: #a1a1a1;
}
.cid-tNbu6rQBuQ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tNbu6rQBuQ img {
  width: 180px;
  margin: auto;
}
.cid-tNbu6rQBuQ .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.cid-tNbu6rQBuQ .card:hover {
  transform: scale(0.9);
}
@media (min-width: 992px) {
  .cid-tNbu6rQBuQ .card {
    max-width: 20%;
  }
}
.cid-tNbu6rQBuQ .mbr-section-title {
  color: #4e423d;
}
.cid-tNbtp0OACb {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #0a413a;
}
.cid-tNbtp0OACb img,
.cid-tNbtp0OACb .item-img {
  width: 100%;
  overflow: hidden;
  transition: transform 3s;
  cursor: pointer;
  object-fit: cover;
  background-color: white;
  min-height: 400px;
  height: 400px;
}
.cid-tNbtp0OACb .image-wrapper {
  transition: all 0.3s;
  overflow: hidden;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.cid-tNbtp0OACb .item:focus,
.cid-tNbtp0OACb span:focus {
  outline: none;
}
.cid-tNbtp0OACb .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tNbtp0OACb .item {
    margin-bottom: 1rem;
  }
}
.cid-tNbtp0OACb .item-content {
  margin-top: 1rem;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cid-tNbtp0OACb .item-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  transition: all 0.3s;
}
.cid-tNbtp0OACb .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-tNbtp0OACb .item-wrapper:hover .image-wrapper {
  margin: 10px;
}
.cid-tNbtp0OACb .item-wrapper:hover img {
  transform: scale(1.1);
}
@media (max-width: 992px) {
  .cid-tNbtp0OACb .item-wrapper {
    height: auto;
  }
}
.cid-tNbtp0OACb .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-tNbtp0OACb .item-title {
  text-align: left;
  color: #ffffff;
}
.cid-tNbtp0OACb .item-subtitle {
  text-align: left;
  color: #ffffff;
}
.cid-tNbtp0OACb .mbr-text,
.cid-tNbtp0OACb .item .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-tNbtp0OACb .mbr-section-subtitle,
.cid-tNbtp0OACb .mbr-section-head .mbr-section-btn {
  text-align: left;
}
.cid-tNbtVVPJGP {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tNbtVVPJGP .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: 'Moririse2' !important;
  color: white;
  transition: all 0.3s;
  transform: rotate(180deg);
}
.cid-tNbtVVPJGP .panel-group {
  border: none;
}
.cid-tNbtVVPJGP .mbr-section-head {
  border-bottom: 1px solid lightgray;
}
.cid-tNbtVVPJGP .panel-body {
  padding: 0 0.5rem;
  padding-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-tNbtVVPJGP .panel-body {
    padding: 0rem;
    padding-bottom: 1rem;
  }
}
.cid-tNbtVVPJGP .card-header {
  padding: 0;
  padding-bottom: 1rem;
}
.cid-tNbtVVPJGP .img-col {
  padding: 0;
}
.cid-tNbtVVPJGP span {
  margin-right: 1rem;
}
.cid-tNbtVVPJGP .img-item {
  height: 100%;
}
.cid-tNbtVVPJGP img {
  height: 100%;
  object-fit: cover;
}
.cid-tNbtVVPJGP .collapsed span {
  transform: rotate(0deg);
}
.cid-tNbtVVPJGP .panel-title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
}
.cid-tNbtVVPJGP p {
  margin-bottom: 0.3rem;
}
.cid-tNbtVVPJGP .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
}
.cid-tNbtVVPJGP .card {
  padding: 0;
}
.cid-tNbtVVPJGP .panel-text {
  color: #000000;
  padding-left: 1.8rem;
}
@media (max-width: 767px) {
  .cid-tNbtVVPJGP .panel-text {
    padding-left: 0;
  }
}
.cid-tNbtVVPJGP .mbr-section-title {
  text-align: left;
  color: #000000;
}
.cid-tNbtVVPJGP .mbr-section-subtitle {
  color: #000000;
  text-align: left;
}
.cid-tNbtVVPJGP .panel-title-edit,
.cid-tNbtVVPJGP .mbr-iconfont {
  color: #000000;
  text-align: left;
}
.cid-tNbtYW7t6J {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tNbtYW7t6J .mbr-fallback-image.disabled {
  display: none;
}
.cid-tNbtYW7t6J .container {
  max-width: 1300px;
}
.cid-tNbtYW7t6J .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tNbtYW7t6J .text-wrapper {
  max-width: 700px;
  margin: auto;
  padding: 1rem 0;
}
@media (min-width: 992px) {
  .cid-tNbtYW7t6J .text-wrapper {
    padding: 3rem 2rem;
  }
}
.cid-tNbtYW7t6J .row {
  background: #1f6463;
}
@media (max-width: 991px) {
  .cid-tNbtYW7t6J .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tNbtYW7t6J .image-wrapper {
  padding: 0;
}
.cid-tNbtYW7t6J .image-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-tNbtYW7t6J .mbr-section-title {
  color: #ffffff;
}
.cid-tNbtYW7t6J .mbr-text,
.cid-tNbtYW7t6J .mbr-section-btn {
  color: #ffffff;
}
.cid-tNbtYW7t6J .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tNbtW48MdB {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #ffffff;
}
.cid-tNbtW48MdB .mbr-fallback-image.disabled {
  display: none;
}
.cid-tNbtW48MdB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tNbtW48MdB .google-map {
  height: 35rem;
  position: relative;
  filter: grayscale(1);
  border-radius: 2rem;
}
.cid-tNbtW48MdB .google-map iframe {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}
.cid-tNbtW48MdB .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tNbtW48MdB .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tNbtW48MdB .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tNbtW48MdB .google-map:hover {
  filter: grayscale(0);
}
.cid-tNbtW48MdB .mbr-section-title {
  text-align: left;
}
.cid-tNbtWcJNjH {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tNbtWcJNjH .mbr-fallback-image.disabled {
  display: none;
}
.cid-tNbtWcJNjH .item-wrapper {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
@media (max-width: 767px) {
  .cid-tNbtWcJNjH .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tNbtWcJNjH .item-wrapper:hover .iconfont-wrapper:after {
  width: 70px;
  height: 70px;
}
.cid-tNbtWcJNjH a {
  font-weight: 600;
}
.cid-tNbtWcJNjH a:hover {
  background: none !important;
}
@media (min-width: 1400px) {
  .cid-tNbtWcJNjH .col-lg-3,
  .cid-tNbtWcJNjH .col-xl-3 {
    max-width: 20%;
  }
}
@media (max-width: 1200px) {
  .cid-tNbtWcJNjH .col-lg-12 {
    min-width: 100% !important;
  }
}
.cid-tNbtWcJNjH .card-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-tNbtWcJNjH h5 {
  margin: 0;
}
.cid-tNbtWcJNjH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tNbtWcJNjH .iconfont-wrapper {
  position: relative;
}
.cid-tNbtWcJNjH .mbr-iconfont {
  display: flex;
  padding-right: 1rem;
  font-size: 2rem;
  color: #000000;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 2;
  position: relative;
}
.cid-tNbtWcJNjH .socicon {
  font-size: 1rem;
  width: 30px;
  height: 30px;
}
.cid-tNbtWcJNjH .sociconfont-wrapper {
  display: flex;
}
.cid-tNbtWcJNjH .card-title,
.cid-tNbtWcJNjH .iconfont-wrapper {
  color: #a1a1a1;
}
.cid-tNbtWcJNjH .card-text {
  color: #000000;
}
.cid-tNbtWcJNjH .mbr-section-title {
  color: #000000;
}
.cid-tNbtWcJNjH .main-title,
.cid-tNbtWcJNjH .iconfont-wrapper {
  text-align: left;
}
.cid-tNbtUOD8SE {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #fcf0e2;
}
.cid-tNbtUOD8SE input {
  padding: 1rem 1.5rem;
  border: none !important;
  height: 100%;
  box-shadow: none !important;
  font-size: 1rem;
  border-radius: 2rem !important;
}
.cid-tNbtUOD8SE input:hover {
  border: none !important;
  box-shadow: none;
}
.cid-tNbtUOD8SE .btn,
.cid-tNbtUOD8SE .wrapper {
  border-radius: 2rem !important;
}
.cid-tNbtUOD8SE .btn {
  height: 100%;
  margin: auto;
}
@media (max-width: 767px) {
  .cid-tNbtUOD8SE .btn {
    width: 100%;
  }
}
.cid-tNbtUOD8SE .mbr-section-btn {
  display: flex;
  margin-bottom: 1.2rem;
  width: fit-content;
}
@media (max-width: 767px) {
  .cid-tNbtUOD8SE .mbr-section-btn {
    width: 100%;
  }
}
.cid-tNbtUOD8SE .mbr-section-btn .btn {
  width: auto;
}
@media (min-width: 992px) {
  .cid-tNbtUOD8SE .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tNbtUOD8SE .form-group {
  margin: 0;
}
.cid-tNbtUOD8SE .wrapper {
  background: white;
  border-radius: 2rem !important;
  width: 80%;
  padding: 0;
  overflow: hidden;
  border: 1px solid lightgray;
  margin: auto;
  justify-content: space-between;
  display: flex;
}
@media (max-width: 767px) {
  .cid-tNbtUOD8SE .wrapper {
    border-radius: 1.6rem;
  }
}
@media (max-width: 991px) {
  .cid-tNbtUOD8SE .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tNbtUOD8SE .content-wrapper {
    flex-direction: column-reverse;
  }
}
.cid-tNbtUOD8SE .justify-content-center {
  align-items: center;
}
.cid-tNbtUOD8SE .mbr-section-title {
  text-align: center;
  color: #4e423d;
}
.cid-tNbSkOuTGD {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tNbSkOuTGD .mbr-fallback-image.disabled {
  display: none;
}
.cid-tNbSkOuTGD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tNbSkOuTGD li {
  padding-bottom: 0.3rem;
}
.cid-tNbSkOuTGD h5 {
  padding-bottom: 1rem;
}
.cid-tNbSkOuTGD .col-lg-3 {
  border-right: 1px solid lightgray;
  padding-left: 2rem;
}
@media (max-width: 992px) {
  .cid-tNbSkOuTGD .col-lg-3 {
    border: 0;
    padding-left: 1rem;
  }
}
.cid-tNbSkOuTGD .last {
  border: 0;
}
@media (min-width: 1200px) {
  .cid-tNbSkOuTGD .col-lg-3 {
    max-width: 20%;
  }
}
.cid-tNbSkOuTGD .list {
  list-style: none;
  padding-left: 0;
  color: #a1a1a1;
}
@media (max-width: 991px) {
  .cid-tNbSkOuTGD .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tNbSkOuTGD .list {
    margin-bottom: 0rem;
  }
}
@media (max-width: 767px) {
  .cid-tNbSkOuTGD .row {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .cid-tNbSkOuTGD div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tNbSkOuTGD .copyright {
  color: #000000;
}
.cid-tNbSkOuTGD .mbr-section-subtitle {
  color: #4e423d;
}
.cid-tNbtX8ulws {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tNbtX8ulws .media-col {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tNbtX8ulws .media-col {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .cid-tNbtX8ulws .media-col {
    flex-direction: column;
  }
}
.cid-tNbtX8ulws .brand-name {
  margin-bottom: 0;
  color: #555555;
}
.cid-tNbtX8ulws .media-wrap {
  padding: 0;
  margin-right: 1rem;
}
@media (max-width: 767px) {
  .cid-tNbtX8ulws .media-wrap {
    margin-right: 0;
  }
}
.cid-tNbtX8ulws .cards-row,
.cid-tNbtX8ulws .social-row,
.cid-tNbtX8ulws .menu-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .cid-tNbtX8ulws .cards-row,
  .cid-tNbtX8ulws .social-row,
  .cid-tNbtX8ulws .menu-row {
    justify-content: center;
  }
}
.cid-tNbtX8ulws .menu-row {
  margin-bottom: 1rem;
}
.cid-tNbtX8ulws .foot-menu {
  list-style-type: none;
  margin-bottom: 0;
  margin-right: -1.2rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .cid-tNbtX8ulws .foot-menu {
    justify-content: center;
  }
}
.cid-tNbtX8ulws .foot-menu .foot-menu-item {
  margin-right: 1.2rem;
  margin-bottom: 0.5rem;
}
.cid-tNbtX8ulws .text-col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cid-tNbtX8ulws .social-col {
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .cid-tNbtX8ulws .row {
    text-align: center;
  }
  .cid-tNbtX8ulws .cards-col {
    justify-content: center;
  }
  .cid-tNbtX8ulws .social-col {
    justify-content: center;
    margin-top: 30px;
  }
}
.cid-tNbtX8ulws .card-item {
  width: 45px;
  height: 30px;
  margin-right: 1rem;
}
.cid-tNbtX8ulws .card-item:last-child {
  margin-right: 0;
}
.cid-tNbtX8ulws .card-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cid-tNbtX8ulws .logo {
  width: 80px;
}
.cid-tNbtX8ulws .socicon {
  color: black;
}
.cid-tNbtX8ulws .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-tNbtX8ulws .soc-item:last-child {
  margin-right: 0;
}
.cid-tNbtX8ulws .mbr-text {
  color: #ffffff;
}
.cid-tNbtX8ulws .copyright {
  color: #000000;
}
.cid-tNbu30YsYj {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tNbu30YsYj .mbr-fallback-image.disabled {
  display: none;
}
.cid-tNbu30YsYj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tNbu30YsYj li {
  padding-bottom: 0.3rem;
}
.cid-tNbu30YsYj h5 {
  padding-bottom: 1rem;
}
.cid-tNbu30YsYj .col-lg-3 {
  border-right: 1px solid lightgray;
  padding-left: 2rem;
}
@media (max-width: 992px) {
  .cid-tNbu30YsYj .col-lg-3 {
    border: 0;
    padding-left: 1rem;
  }
}
.cid-tNbu30YsYj .last {
  border: 0;
}
@media (min-width: 1200px) {
  .cid-tNbu30YsYj .col-lg-3 {
    max-width: 20%;
  }
}
.cid-tNbu30YsYj .list {
  list-style: none;
  padding-left: 0;
  color: #a1a1a1;
}
@media (max-width: 991px) {
  .cid-tNbu30YsYj .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tNbu30YsYj .list {
    margin-bottom: 0rem;
  }
}
@media (max-width: 767px) {
  .cid-tNbu30YsYj .row {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .cid-tNbu30YsYj div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tNbu30YsYj .copyright {
  color: #000000;
}
.cid-tNbu30YsYj .mbr-section-subtitle {
  color: #4e423d;
}
